/* FirefoxのUIフォントをNoto Sans JPに変えたいテスト

設定画面
@-moz-document url("about:preferences")
{
body { font-family: "Noto Sans JP"; }
}
*/

/* ウェブサイトからメイリオ,Meiryo UI,游ゴシック,Yu Gothic UIを消し去る */

@font-face { 
  font-family: 'Meiryo';
  src: local('Noto Sans JP');
}

@font-face { 
  font-family: 'メイリオ';
  src: local('Noto Sans JP');
}

@font-face { 
  font-family: 'Meiryo UI';
  src: local('Noto Sans JP');
}

@font-face { 
  font-family: 'Yu Gothic Medium';
  src: local('Noto Sans JP');
}

@font-face { 
  font-family: 'Yu Gothic';
  src: local('Noto Sans JP');
}

@font-face { 
  font-family: '游ゴシック';
  src: local('Noto Sans JP');
}

@font-face { 
  font-family: 'Yu Gothic UI';
  src: local('Noto Sans JP');               /* ここを変えるとabout:から始まるページの字体も変わる */
}

/* Twitterの右カラム消し */

@-moz-document domain("twitter.com") {
  
section[aria-label="アカウント作成"]        /* Twitterを使ってみよう */
{ display:none !important; }
  
div[aria-label="タイムライン: トレンド"]    /* いまどうしてる？ */
{ display:none !important; }
  
.r-x572qd                                   /* おすすめツイート */
{ display:none !important; }

}


/* 既定のフォントをNoto Sans JPにしてると
GitHubで書いた日本語が等幅にならない？ので修正 */

@-moz-document domain("github.com") {

@font-face {
font-family: 'Consolas' ;
src: local('BIZ UDGothic'); }
 }

/* 日本語の幅がどうなってるか */
/* 12345678901234567890123456 */
