/* FirefoxのUIフォントをNoto Sans JPに変えたい */

@-moz-document url("about:preferences")
{
body { font-family: "Noto Sans JP"; }
}

/* ウェブサイトからメイリオ,游ゴシック,Yu Gothic UIを消し去る */

@font-face { 
  font-family: 'Meiryo';
  src: local('Noto Sans JP');
}

@font-face { 
  font-family: 'メイリオ';
  src: local('Noto Sans JP');
}

@font-face { 
  font-family: 'Meiryo UI';
  src: local('Noto Sans JP');
}

@font-face { 
  font-family: 'Yu Gothic Medium';
  src: local('Noto Sans JP');
}

@font-face { 
  font-family: 'Yu Gothic';
  src: local('Noto Sans JP');
}

@font-face { 
  font-family: '游ゴシック';
  src: local('Noto Sans JP');
}

@font-face { 
  font-family: 'Yu Gothic UI';
  src: local('Noto Sans JP');
}


/* Twitter */

@-moz-document domain("twitter.com") {
  
/* Twitter */
section[aria-label="アカウント作成"]{display:none !important; }
  
/* Twitter */
div[aria-label="タイムライン: トレンド"]{display:none !important;}
  
/* Twitter */
.r-x572qd{display:none !important;}

}
